* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

body {
    background-color: #494949;
    display: flex;
    justify-content: center;
}

header {
    background-color: rgb(48, 48, 48);
    padding: 10px;
    text-align: center;
    color: white;
}

main {
    /* overflow: hidden; */
    background-color: white;
    width: 800px;
    /* border-radius: 10px; */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.233);
    margin-top: 25px;
}

table,
#motoristas {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    background-color: rgb(133, 132, 132);

    & tbody:nth-child(even) {
        background-color: #6b6b6b;

        & td {
            color: white;

            & button {
                background-color: #e4e4e4;
            }
        }
    }

    & th {
        padding: 5px;
        /* border: 1px solid black; */
        font-size: 1.2em;
        background-color: rgb(85, 85, 85);
        color: white;

        & button {
            color: white;
            border: none;
            background-color: rgb(121, 121, 121);
            padding: 10px;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: rgb(119, 119, 119);
                color: rgb(211, 210, 210);
            }
        }
    }

    & td {
        /* width: 25%; */
        padding: 5px;
        text-align: center;
        color: #e4e4e4;
        /* border: 1px solid black; */

        & button {
            border: none;
            background-color: #929292;
            padding: 5px;
            border-radius: 50%;
            font-weight: bold;
            cursor: pointer;
            transition: .3s;

            &:hover {
                fill: rgb(192, 192, 192);
                color: rgba(0, 0, 0, 0.712);
            }
        }

        & .eye:hover {
            fill: rgb(115, 106, 252);
        }

        & .lixo:hover {
            fill: rgb(243, 26, 26);
        }
    }
}

section {
    display: block;
}

#motorista {
    display: none;

    & #motoristas {
        & th {
            width: 33%;
        }
    }
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.253);
    opacity: 0;
    visibility: hidden;
    transition: .3s;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

#placa,
#cor,
#modelo,
#lplaca,
#lcor,
#lmodelo {
    display: none;
}

.erro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #0e0e0eda;
    color: white;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    & .exit {
        display: block;
        cursor: pointer;
        margin-inline-start: auto;
        fill: gray;

        &:hover {
            fill: red;
        }
    }

    & h2 {
        margin-top: -20px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 2em;
        fill: red;
    }

    & p {
        text-align: center;
    }
}

#confirmarcarro,
#confirmarmotorista {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #292929da;
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.336);
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    & div {
        margin-top: 20px;
        display: flex;
        gap: 20px;

        & button {
            width: 100%;
            padding: 10px;
            border: none;
            background-color: rgba(243, 37, 37, 0.473);
            border-radius: 20px;
            color: white;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: rgb(185, 9, 9);
            }

            &:nth-child(2) {
                background-color: rgba(74, 110, 240, 0.438);

                &:hover {
                    background-color: rgb(39, 39, 195);
                }
            }
        }
    }
}



.modal {
    background-color: #0000008a;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.363);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: white;

    & header {
        margin: -20px -20px 10px -20px;
    }

    & select {
        width: 100%;
        padding: 3px;
        border-radius: 5px;
        font-size: 16px;
        margin: 10px 0px;
        font-weight: bold;
        outline: none;
        border: none;
        cursor: pointer;
    }

    & button {
        width: 100%;
        margin-top: 10px;
        border: none;
        background-color: rgba(66, 66, 66, 0.678);
        cursor: pointer;
        border-radius: 5px;
        padding: 5px;
        font-weight: bold;
        color: white;

        &:hover {
            background-color: rgba(75, 75, 75, 0.747);
        }
    }

    & label {
        font-weight: bold;
        margin-top: 10px;
    }

    & input {
        width: 100%;
        border-radius: 5px;
        border: 2px solid black;
        padding: 5px;
        padding-left: 10px;
        margin: 10px 0px;
    }
}

#trocartable {
    position: fixed;
    transform: translate(-100%,0%);
    left: 120%;
    top: 10px;
    height: 30vh;
    width: 20%;
    background-color: rgb(49, 49, 49);
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.37);
    display: block;
    transition: .3s;
    &.active{
        left:100% ;
    }
    & #abrirmenu{
        width: 50px;
        height: 50px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 30px;
        left: -20px;
        background-color: rgb(49, 49, 49);
        border-radius: 50% 0px 0px 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        & #arrow{
            width: 80%;
            height: 80%;
            fill: white;
            &.active{
                transform: scaleX(-1);

            }
        }
    }
    & #btndriver,
    #btncars {
        background-color: #616161;
        color: white;
        border-radius: 5px;
        margin: 10px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.37);
        transition: .3s;

        &:hover {
            background-color: #4b4b4b;
            height: 55px;
        }
    }
}

#errodeatrelamento {
    z-index: 1;
}

#atrelamento,
#selecionar,
#addmotorista,
#edicao,
#addcarros,
#visualizar {
    width: 300px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.32);

    & form {
        width: 250px;

        & label {
            color: white;
            font-weight: bold;
            margin-top: 10px;
        }
    }

    & p {
        margin-top: 15px;
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }
}